*.bak
*.bz2
*.gz
*.log
*.swp
*.tar
*.zip
.#webclasspath
.classpath
.project
.settings
.tomcatplugin
bin
build
build.sh
logs
nix*
null
playground
target
test-output
work
C:\\nppdf32Log\\debuglog.txt
.README.md.html
catalina.base_IS_UNDEFINED
